@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>LogReg</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js"></script>
        <style>
            #wrapper {
                padding: 10%;
            }
            button {
                display: inline;
            }
            img {
                width: 20%;
            }
            td {
                padding-top: 4%;
            }
            ul {
                list-style: none;
                
            }
        </style>
    </head>
    <body>
        <div id="wrapper" class="ui container">
            <div class="column">
                <div class="ui inverted segment black">
                    <div>
                        <h1>Welcome @ViewBag.name</h1>
                        <h2>Here is what's on the wall today!</h2>
                        <hr>
                        <hr>
                        <h3>Add a new message here:</h3>
                        <form action="createmsg" method="Post">
                            <textarea style="color: blue" name="message" cols="50" rows="5"></textarea>
                            <input class="ui inverted button green" type="submit" value="Add Message">
                        </form>
                    </div>
                    <hr>
                    <div>
                        @{
                            foreach(var msg in @ViewBag.messages) {
                                //If there are any messages...
                                <ul>
                                    <li style="color: lightsteelblue;">@msg["first_name"] @msg["last_name"] posted - @msg["created_at"]</li>
                                    <li>
                                        <ul>
                                            <li style="font-family: 'Franklin Gothic Medium';">
                                                <table>
                                                    <tr>
                                                        <td style="width: 30%; color: darkred; font-style: bold;">
                                                            @msg["message"]
                                                            @{
                                                                if(@msg["created_at"].AddMinutes(30) > DateTime.Now) {
                                                                    if (@ViewBag.id == @msg["user_user_id"]) {
                                                                        <form action='deletemsg/@msg["message_id"]' method="Post">
                                                                            <input class="ui inverted button red" type="submit" value="Delete Message">
                                                                        </form>
                                                                    }
                                                                }
                                                            }
                                                        </td>
                                                        <td style="width: 30%;">
                                                            <form action='createcmt/@msg["message_id"]' method="Post">
                                                                <!--<input type="hidden" name="msgId" value='@msg["message_id"]'>-->
                                                                <textarea style="color: darkblue" name="comment" cols="50" rows="2"></textarea>
                                                                <input class="ui inverted button blue" type="submit" value="Add Comment">
                                                            </form>
                                                            
                                                        </td>
                                                    </tr>
                                                </table>
                                            </li>
                                            <li>
                                                @{
                                                    foreach(var cmt in @ViewBag.comments) {
                                                        if (cmt["message_id"] == msg["message_id"])
                                                        {
                                                            <ul>
                                                                <li style="color: lightsteelblue;">@cmt["first_name"] @cmt["last_name"] commented - @cmt["created_at"]</li>
                                                                <li>
                                                                    <ul>
                                                                        <li style="color: cyan; margin-right: 10%;">
                                                                            @cmt["comment"]
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        }
                                                    }
                                                }
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <hr>
                            }
                        }
                        <hr>
                    </div>
                    <form action="logout" method="Post">
                        <input class="ui inverted button yellow" type="submit" name="" value="Logout">
                    </form>                
                </div>
            </div>
        </div>
    </body> 
</html>